h1 {
    width: 130px;
    height: auto;
    background-color: red;
    padding: 1px;
    margin: 20px 323px; 
    border: 5px;
    text-align: center;
}

.select{
    display:block;
    width: 200;
    text-align: center;
    border-color: rgb(1, 85, 1);
    padding: 5px;
    margin-top:3em;

}

.anchor{
    margin-left: 53px ;
    padding: 20px;
    display:inline;
    background:rgba(153, 165, 164, 0.316);
    border: 4px solid orange;
}

