h1 {
    width: 130px;
    height: auto;
    background-color: red;
    padding: 1px;
    margin: 20px 323px; 
    border: 5px;
    text-align: center;
}

.select{
    display:inline;
    width: 200;
    text-align: center;

}

li{
    margin: 5px;
}